<div class = "row">
    <div class = "card col">
     <div class="ui statistic">
          <div class="label">
            CONFIRMED
          </div>
          <div class="value">
            {{totalConfirmed}}
          </div>
     </div>
    </div>
    <div class = "card col">
     <div class="ui statistic">
          <div class="label">
            RECOVERED
          </div>
          <div class="value">
            {{totalRecovered}}
          </div>
     </div>
    </div>
</div>

<div class = "row">
<div class = "card col">
 <div class="ui statistic">
      <div class="label">
        DEATHS
      </div>
      <div class="value">
        {{totalDeaths}}
      </div>
 </div>
</div>
<div class = "card col">
 <div class="ui statistic">
      <div class="label">
        ACTIVE
      </div>
      <div class="value">
        {{totalActive}}
      </div>
 </div>
</div>
</div>
